<section>
  <div class="container text-center p-5">
    <h2 class="text-center">conatct section</h2>
    <div class="inner d-flex justify-content-center align-items-center">
      <div class="left"></div>
      <span><i class="fa-solid fa-star"></i></span>
      <div class="rigth"></div>
    </div>
  </div>

  <form
    class="d-flex flex-column justify-content-center align-items-center py-5"
  >
    <input type="text" class="w-50" placeholder="userName" />
    <input type="number" class="w-50" placeholder="userAge" />
    <input type="email" class="w-50" placeholder="userEmail" />
    <input type="password" class="w-50" placeholder="userPassword" />
  </form>

  <div class="d-flex justify-content-center align-items-center">
    <button type="button" class="btn btn-primary">send Message</button>
  </div>

</section>
