<section class="">

  <div class="container text-center p-5">

    <h2>PORTFOLIO COMPONENT</h2>
  <div class="inner d-flex justify-content-center align-items-center">

    <div class="left"></div>
    <span><i class="fa-solid fa-star"></i></span>
    <div class="rigth"></div>

  </div>


  <div class="row g-5 py-2">

    <div class="col-md-4" (click)="Addimg()">

      <div class="position-relative inner-layar">
        <img src="./assets/poert1.png" class="w-100 rounded" alt="">
        <div class="layar position-absolute d-flex justify-content-center align-items-center rounded">
          <i class="text-white fa-solid fa-plus fa-6x"></i>
        </div>
      </div>

    </div>
    <div class="col-md-4">

      <div class="position-relative inner-layar">
        <img src="./assets/port2.png" class="w-100 rounded" alt="">
        <div class="layar position-absolute d-flex justify-content-center align-items-center rounded">
          <i class="text-white fa-solid fa-plus fa-6x"></i>
        </div>
      </div>

    </div>
    <div class="col-md-4">

      <div class="position-relative inner-layar">
        <img src="./assets/port3.png" class="w-100 rounded" alt="">
        <div class="layar position-absolute d-flex justify-content-center align-items-center rounded">
          <i class="text-white fa-solid fa-plus fa-6x"></i>
        </div>
      </div>

    </div>
    <div class="col-md-4">

      <div class="position-relative inner-layar">
        <img src="./assets/poert1.png" class="w-100 rounded" alt="">
        <div class="layar position-absolute d-flex justify-content-center align-items-center rounded">
          <i class="text-white fa-solid fa-plus fa-6x"></i>
        </div>
      </div>

    </div>
    <div class="col-md-4">

      <div class="position-relative inner-layar">
        <img src="./assets/port2.png" class="w-100 rounded" alt="">
        <div class="layar position-absolute d-flex justify-content-center align-items-center rounded">
          <i class="text-white fa-solid fa-plus fa-6x"></i>
        </div>
      </div>

    </div>
    <div class="col-md-4">

      <div class="position-relative inner-layar">
        <img src="./assets/port3.png" class="w-100 rounded" alt="">
        <div class="layar position-absolute d-flex justify-content-center align-items-center rounded">
          <i class="text-white fa-solid fa-plus fa-6x"></i>
        </div>
      </div>

    </div>

  </div>

  </div>

</section>
